footer
  p All data is from stats.grok.se, which gets its data from <a href='dumps.wikimedia.org/other/pagecounts-raw/'>here</a>. Get the <a href='https://github.com/tech-no-crat/wikiviews-web'>source code on Github</a>.
